braceexpand==0.1.7
ffmpeg==1.4
fsspec==2024.2.0
numpy==1.26.4
pandas==2.2.0
pyarrow==15.0.0
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
tqdm==4.66.2
tzdata==2023.4
webdataset==0.2.86
